@import "./modules/about.scss" ;
@import "./modules/why_us.scss" ;
@import "./modules/navbare.scss" ;
@import "./modules/small-section.scss" ;
@import "./modules/menu.scss" ;
@import "./modules/caroussel.scss";
@import "./modules/gallery.scss";
@import "./modules/contact.scss";
@import "./modules/footer.scss";