@import "../../node_modules/bootstrap/scss/bootstrap.scss" ;
@import " ../../node_modules/bootstrap-icons/font/bootstrap-icons.css" ;
@import "../../node_modules/bootstrap/scss/variables";
@import "../sass/allmixine.scss" ;
@import "./allmodules.scss" ;







