@import ../../node_modules/bootstrap/scss/functions
@import ../../node_modules/bootstrap/scss/variables



$orange:#ffb03b 
$custom-colors :("orange": $orange)
$theme-colors: map-merge($custom-colors , $theme-colors)