@font-face {
    font-family: "myfont";
    src: url(../../../../public/fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "paragraph-font";
    src: url(../../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "poping-font";
    src: url(../../../../public/fonts/Poppins/Poppins-Medium.ttf);
}





.About{
    background-color: #fffaf3 ;
    padding-top: 70px;
 @include mysize(100%, 80vh);
@include  mydisplay(flex, none, none,none,10px) ;
padding-inline: 90px;
.imge-video{
 position: relative;
         display: block;
        text-align: center;
        width: 100%;
    img{
         @include mysize(100vh, 60vh);
    display: block;
    }
    .button-video{
        position: absolute;
        top: 50%;
        left: 50%;
      transform: translate(-50%,-50%);

        background-color: $orange;
        color: white;
        border: none;
        border-radius: 50%;
        font-size: 32px;
         @include mysize(70px, 60px);
         @include  mydisplay(flex, none, center,center,none) ;
         cursor: pointer;
         
    }

}
.Voluptatem{
li{
list-style: none;

}
svg{
    color: orangered;
}
h2{
    font-size: 18px;
  color: #433f43;
    font-weight: 700 ;
font-family: "Satisfy", cursive;

    
}


}
}

#Video:checked ~ .voivide {
display: block;
}
#Video:checked + .button-video {
top: 50;
}