@font-face {
    font-family: "myfont";
    src: url(../../../../public/fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "paragraph-font";
    src: url(../../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "poping-font";
    src: url(../../../../public/fonts/Poppins/Poppins-Medium.ttf);
}





.About{
    background-color: #fffaf3 ;
    padding-top: 70px;
 @include mysize(100%, 80vh);
@include  mydisplay(flex, none, none,none,10px) ;
padding-inline: 90px;
.imge-video{
 position: relative;
         display: block;
        text-align: center;
        width: 100%;
    img{
         @include mysize(100vh, 60vh);
    display: block;
    }
   

     
    .btn{
          position: absolute;
        top: 40%;
        left: 50%;
        background-color: $orange;
         color: white;
     border-radius: 50%;
      transform: translate(-50%,-50%);
       @include mysize(70px, 60px);
         font-size: 32px;

}
.modal-content{
     @include mysize(170vh, 10vh);
     left: -50vh;
}
     

}
.Voluptatem{
li{
list-style: none;

}
svg{
    color: orangered;
}
h2{
    font-size: 18px;
  color: #433f43;
    font-weight: 700 ;
font-family: "Satisfy", cursive;

    
}


}
}

@media (max-width: 425px){
    
  .About {
    padding-inline: 15px; 
    padding-top: 40px;
    @include mysize(100%, auto); 
    flex-direction: column; 
    gap: 20px;
  }
   .About .imge-video {
    width: 100%;
  }
    .About .imge-video img {
    @include mysize(100%, 200px); 
    object-fit: cover;
  }

  .About .imge-video .btn {
    @include mysize(45px, 45px);
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.About .imge-video .modal-content {
    @include mysize(100%, auto);
    left: 0;
  }
  .About .Voluptatem h2 {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  .About .Voluptatem p {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .About .Voluptatem ul {
    padding-left: 0;
    margin-top: 10px;
  }

  .About .Voluptatem ul li {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
    display: flex;
    gap: 6px;
    align-items: start;
    text-align: left;
  }

  .About .Voluptatem ul li svg {
    width: 16px;
    height: 16px;
  }














}
