.About{
    background-color: #fffaf3 ;
 @include mysize(100%, 70vh);
@include  mydisplay(flex, none, none,none,10px) ;
padding-inline: 90px;
.imge-video{
 position: relative;
         display: block;
        text-align: center;
        width: 100%;
    img{
         @include mysize(100vh, 60vh);
    display: block;
    }
    .button-video{
        position: absolute;
        top: 50%;
        left: 50%;
      transform: translate(-50%,-50%);

        background-color: orangered;
        color: white;
        border: none;
        border-radius: 50%;
        font-size: 32px;
         @include mysize(70px, 60px);
         @include  mydisplay(flex, none, center,center,none) ;
         cursor: pointer;
         
    }

}
.Voluptatem{
li{
list-style: none;

}
svg{
    color: orangered;
}
h2{
    font-size: 18px;
  color: #433f43;
    font-weight: 700 ;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}


}
}