.book-table {
    @include mysize(100%, 110vh);
   
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-inline: 90px;

    .book2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-top: 30px;

        button {
            padding: 5px;
            width: 130px;
            height: 30px;
            text-align: center;
            background-color: rgba(238, 167, 37, 0.616);
            border-radius: 20px;
            color: rgb(136, 96, 21);
            display: flex;
            align-items: center;
            justify-content: center;


        }
    }

    .cartes {
        display: flex;
        gap: 40px;
        background-color: #e7e7e7;

        input {
            @include mysize(250px, 6vh);
        }

        .cartes-rights {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-top: 30px;



            button {
                border: none;
                background-color: $orange;
                color: white;
                width: 190px;
                height: 50px;



            }

            .button9 {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }


    }



}