 @font-face {
    font-family: "myfont";
    src: url(../../../../public/fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "paragraph-font";
    src: url(../../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "poping-font";
    src: url(../../../../public/fonts/Poppins/Poppins-Medium.ttf);
}
 
 .contact {
    @include mysize(100%, 160vh);

    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 70px;

    .conta {
        display: flex;
        flex-direction: column;
        align-items: center;

        .button4 {
            padding: 5px;
            width: 100px;
            height: 30px;
            text-align: center;
            background-color: rgba(255, 166, 0, 0.616);
            border-radius: 20px;
            color: orange;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h2 {
            font-family: "Satisfy", cursive;
            span {
                color: $orange;
            }
        }
    }

    .les-informations {
        padding-inline: 90px;

        @include mysize(100%, 60vh);
        display: flex;
        gap: 20px;

        .small-part {
            padding-inline: 30px;
            padding-top: 25px;
            width: 30%;
            height: 70vh;
            background-color: white;

            i {
                color: $orange;
            }
        }

    }

    .big-part {
        padding-inline: 30px;
        height: 70vh;

        input {
            @include mysize(350px, 6vh);
        }

        .name-email {
            display: flex;
            gap: 20px;

        }

        width: 60%;
        background-color: pink;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 20px;
    }
    

    button {
        border: none;
        background-color: $orange;
        color: white;
        width: 190px;
        height: 50px;





    }


}
@media (max-width: 425px){
     .contact {
        width: 100%;

    

    .conta {
      h2 {
        font-size: 1.3rem;
        text-align: center;
      }
      .button4 {
        width: 90px;
        font-size: 0.9rem;
      }
    }

    .les-informations {
        width: 100%;
      flex-direction: column;
      padding-inline: 10px;
      gap: 20px;

      .small-part {
        width: 100%;
        height: auto;
        padding: 15px;
      }

      .big-part {
        width: 100%;
        height: auto;
        padding: 15px;

        input {
          @include mysize(100%, 6vh);
        }

        textarea {
          width: 100%;
        }

        .name-email {
          flex-direction: column;
          gap: 10px;
        }
      }
    }

    button {
      width: 100%;
      max-width: 190px;
      font-size: 0.9rem;
    }
  }
}


