@font-face {
    font-family: "myfont";
    src: url(../../../../public/fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "paragraph-font";
    src: url(../../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "poping-font";
    src: url(../../../../public/fonts/Poppins/Poppins-Medium.ttf);
}




.events{
background-image: url(../../../public/images/events-bg.jpg);
background-repeat: no-repeat;
background-size: 100%;
height: 100vh;
.event1{
  
  position: relative;
  padding-inline: 80px;
  padding-top: 130px;
   
   .event-explain{
    
display: flex;
flex-direction: column;
align-items: flex-start;
h3{

    font-family: "Satisfy", cursive;
}





   }
    display: flex;
}
.carousel-caption {
  

position: absolute;
left: 108vh;
top: 130px;
width: 40%;
   h2, h3, p, li, p{
    color: white;
   }
   svg{
    color: $orange;
   }
   li{
    list-style: none;
    display: flex;
   
    align-items: flex-start;
    
   }
   
}



}
@media (max-width: 425px){
    .events{
        height: auto; 
    background-size: cover;
    padding: 20px;
    }
 

    .event1 {
      flex-direction: column;
      padding-inline: 10px;
      padding-top: 20px;

      img {
        width: 100% !important;
        height: auto !important;
        max-height: 250px;
        border-radius: 10px;
        margin-bottom: 15px;
      }

      .event-explain {
        align-items: center;
        text-align: center;

        h3 {
          font-size: 1.5rem;
        }
      }
    }

    .carousel-caption {
      position: static; 
      width: 100%;
      padding: 0;

      h2, h3, p, li {
        color: white;
        font-size: 0.9rem;
      }

      ul {
        padding-left: 0;
      }

      li {
        justify-content: center;
        font-size: 0.85rem;
      }
    }
  }






