.events{
background-image: url(../../../public/images/events-bg.jpg);
background-repeat: no-repeat;
background-size: 100%;
height: 100vh;
.event1{
  
  position: relative;
  padding-inline: 80px;
  padding-top: 130px;
   
   .event-explain{
display: flex;
flex-direction: column;
align-items: flex-start;






   }
    display: flex;
}
.carousel-caption {
  

position: absolute;
left: 108vh;
top: 130px;
width: 40%;
   h2, h3, p, li, p{
    color: white;
   }
   svg{
    color: $orange;
   }
   li{
    list-style: none;
    display: flex;
   
    align-items: flex-start;
    
   }
   
}


}