@font-face {
    font-family: "myfont";
    src: url(../../../../public/fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "paragraph-font";
    src: url(../../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "poping-font";
    src: url(../../../../public/fonts/Poppins/Poppins-Medium.ttf);
}

.footer{ 
    color: white;
width: 100%;
height: 40vh;
background-color: #1e160d;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
.top-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
 .footer-contact{
display: flex;
gap: 20px;

 i{
     font-size: 20px;
     color: $orange;
    }
 }
 .adresse1, .hours-footer{
    display: flex;
    gap: 20px;
    i{
     font-size: 20px;
     color: $orange;
    }
 }
.Follow{

i{
    
    background-color: transparent;
    border: solid 2px grey;
    border-radius: 50%;
   padding: 10px;
   width: 10px;
   height: 10px;


}

}
}
.buttom-footer{
    p span{
color: $orange;
    }
}

}
@media (max-width: 425px) {
  .footer {
    height: auto;
    padding: 20px;
    margin-top: 100vh;

    .top-footer {
      flex-direction: column;
      gap: 30px;
      align-items: center;

      .footer-contact,
      .adresse1,
      .hours-footer,
      .Follow {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        text-align: center;
      }

      .Follow i {
        margin: 0 5px;
        font-size: 18px;
      }

      i {
        font-size: 18px;
      }
    }

    .buttom-footer {
      text-align: center;
      p {
        margin: 5px 0;
      }
    }
  }
}
