.footer{ 
    color: white;
width: 100%;
height: 40vh;
background-color: #1e160d;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
.top-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
 .footer-contact{
display: flex;
gap: 20px;
 i{
     font-size: 20px;
     color: $orange;
    }
 }
 .adresse1, .hours-footer{
    display: flex;
    gap: 20px;
    i{
     font-size: 20px;
     color: $orange;
    }
 }
.Follow{

i{
    
    background-color: transparent;
    border: solid 2px grey;
    border-radius: 50%;
   padding: 10px;
   width: 10px;
   height: 10px;


}

}
}
.buttom-footer{
    p span{
color: $orange;
    }
}

}