@font-face {
    font-family: "myfont";
    src: url(../../../../public/fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "paragraph-font";
    src: url(../../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "poping-font";
    src: url(../../../../public/fonts/Poppins/Poppins-Medium.ttf);
}








.menu {
    padding-top: 50px;
    .cheek-our {
        button {
            padding: 5px;
            width: 100px;
            height: 30px;
            text-align: center;
            background-color: rgba(255, 166, 0, 0.616);
            border-radius: 20px;
            color: orange;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h2 span {
            color: $orange;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        gap: 10px;
           padding-bottom: 50px ;
    }
    .menu-navigation{
         display: flex;
     gap: 50px;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px ;
        a{
           text-decoration: none ;
           color: white 
        }
    }

    @include mysize(100%, 110vh);
    background-color: pink;
    padding-inline: 85px;

  

    .food {
        display: flex;

        .right {
            background-color: red;
            width: 50%;
        }

        .list2 {
            width: 50%;
            background-color: brown
        }

        img {
            @include mysize(80px, 80px);
            border: solid 7px rgb(213, 213, 213);
            border-radius: 50%;
        }

        .right .Lobster {
            background-color: aquamarine;
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .after1 {

            display: flex;
            align-items: center;
            gap: 40vh;

        }

        .after2 {
            display: flex;
            align-items: center;
            gap: 47vh;
        }

        .after3 {
            display: flex;
            align-items: center;
            gap: 41vh;
        }

        .after4 {
            display: flex;
            align-items: center;
            gap: 47vh;
        }

        .after5 {
            display: flex;
            align-items: center;
            gap: 45vh;
        }

        .after1 h4,
        .after2 h4,
        .after3 h4,
        .after4 h4,
        .after5 h4 {
            margin: 0;
            font-weight: 500;
        }

        .after1 span,
        .after2 span,
        .after3 span,
        .after4 span,
        .after5 span {
            font-weight: 500;
        }

        .ingredient {

            margin-top: 5px;
            font-style: italic;
            color: #555;
            display: block;
        }

        .after1::after {

            content: '';
            left: 270px;
            right: 0;
            width: 38vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }

        .Crab {
            background-color: aquamarine;
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .after2::after {

            content: '';
            left: 225px;
            right: 0;
            width: 45vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }

        .Tuscan {
            background-color: aquamarine;
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .after3::after {

            content: '';
            left: 270px;
            right: 0;
            width: 38vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }

        .Greek {
            background-color: aquamarine;
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .after4::after {

            content: '';
            left: 230px;
            right: 0;
            width: 45vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }


        .Lobster2 {
            background-color: aquamarine;
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .after5::after {

            content: '';
            left: 235px;
            right: 0;
            width: 44vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }

        .Bread {
            background-color: palevioletred;
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .aft1 {

            display: flex;
            align-items: center;
            gap: 40vh;

        }

        .aft2 {

            display: flex;
            align-items: center;
            gap: 40vh;

        }

        .aft3 {

            display: flex;
            align-items: center;
            gap: 40vh;

        }

        .aft4 {

            display: flex;
            align-items: center;
            gap: 40vh;

        }

        .aft1 h4,
        .aft2 h4,
        .aft3 h4,
        .aft4 h4 {
            margin: 0;
            font-weight: 500;
        }

        .ingredient2 {

            margin-top: 5px;
            font-style: italic;
            color: #555;
            display: block;
        }

        .aft1::after {

            content: '';
            left: 250px;
            right: 0;
            width: 38vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }

        .Caesar {
            background-color: palevioletred;
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .aft2::after {

            content: '';
            left: 300px;
            right: 0;
            width: 38vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }

        .Mozzarella {
            background-color: palevioletred;
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .aft3::after {

            content: '';
            left: 290px;
            right: 0;
            width: 38vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }

        .Spinach {
            background-color: palevioletred;
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .aft4::after {

            content: '';
            left: 260px;
            right: 0;
            width: 38vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }
    }

}