@font-face {
    font-family: "myfont";
    src: url(../../../../public/fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "paragraph-font";
    src: url(../../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "poping-font";
    src: url(../../../../public/fonts/Poppins/Poppins-Medium.ttf);
}


.Navebar {

                @include mysize(100%, 12vh);
    background-color: rgba(60, 59, 59, 0.199) ;
   @include mydisplay(flex, none, none, center, 80vh);
   padding-inline: 80px;
   .links{
     @include mydisplay(flex, none, none, center, 30px);
    a{
     text-decoration: none;
     color: white;

    }
  a:hover{
    color: $orange;
  }
  h1{
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  }

   }

}
.Navebar{
    position: fixed;
    z-index: 1000;
    top: 5%;
    


   
}


