@font-face {
    font-family: "myfont";
    src: url(../../../../public/fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "paragraph-font";
    src: url(../../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "poping-font";
    src: url(../../../../public/fonts/Poppins/Poppins-Medium.ttf);
}





.testimonial{
   padding-top: 5vw ;
    padding-bottom: 5vw ;
    background-image: url("../../../public/images/testimonials-bg.jpg") ;
    background-size: cover ;
    background-position: center ;
    height: 80vh ;
    .testimonials-img {
        display: flex ;
        flex-direction: column;
        img {
          width: 10vw ;
            height: 20vh ;
            border: 10px solid #00000016 ;
            border-radius: 50% ;  
        }
            
    }
        
    .testimonials-text {
        h5{
           font-family: 'Satisfy', sans-serif;
            padding: 0 ;
        } 
    }
        
}
    
            