@font-face {
    font-family: "myfont";
    src: url(../../../../public/fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "paragraph-font";
    src: url(../../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "poping-font";
    src: url(../../../../public/fonts/Poppins/Poppins-Medium.ttf);
}


.small-sextion {
    background-color: rgba(60, 59, 59, 0.199);

    width: 100%;

    display: flex;
    align-items: center;
    gap: 110vh;
    padding-inline: 79px;

    .info {
        display: flex;
        gap: 20px;

        i {
            color: $orange !important;
        }
    }

    .button1 button {
        padding: 5px;
        border: none;
        background-color: $orange;
        border-radius: 25px;
        color: white;
        font-weight: bold;
    }
}

.small-sextion {
    position: fixed;
    z-index: 1000;
}


@media (max-width: 425px) {
   .small-sextion{
    display: none;
   }
}