@font-face {
    font-family: "myfont";
    src: url(../../../../public/fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "paragraph-font";
    src: url(../../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "poping-font";
    src: url(../../../../public/fonts/Poppins/Poppins-Medium.ttf);
}





.specials {

    width: 100%;
    height: 70vh;

    display: flex;
    flex-direction: column;
    padding-inline: 90px;
    gap: 50px;
    padding-top: 20px;

    .speciales-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        button {
            padding: 5px;
            width: 100px;
            height: 30px;
            text-align: center;
            background-color: rgba(255, 166, 0, 0.616);
            border-radius: 20px;
            color: orange;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h3 {
            font-family: "Satisfy", cursive;

            span {
                color: $orange;
            }
        }
    }

    .speciales-inscreptions {

        display: flex;

        .liste {
            width: 20%;

        }

        p:hover {
            color: $orange;
        }

        .description {

            width: 70%;
            display: flex;

            h4 {
                font-family: "Satisfy", cursive;
            }
        }




    }



}


@media (max-width: 425px) {
    .specials {
        padding-inline: 15px;
        gap: 30px;
        height: auto;
    }


    .speciales-top {
        button {
            width: 80px;
            height: 25px;
            font-size: 0.85rem;
        }

        h3 {
            font-size: 1.3rem;
            text-align: center;
        }
    }

    .speciales-inscreptions {
        flex-direction: column;

        .liste {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-bottom: 20px;

            p {
                margin: 0 10px;
                font-size: 0.9rem;
                text-align: center;
            }
        }

        .description {
            width: 100%;
            flex-direction: column;
            align-items: center;

            h4 {
                font-size: 1.2rem;
                text-align: center;
            }

            p {
                font-size: 0.9rem;
                text-align: center;
            }

            img {
                width: 100%;
                max-width: 300px;
                height: auto;
                margin-top: 15px;
                border-radius: 8px;
            }
        }
    }

}