@font-face {
    font-family: "myfont";
    src: url(../../../../public/fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "paragraph-font";
    src: url(../../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "poping-font";
    src: url(../../../../public/fonts/Poppins/Poppins-Medium.ttf);
}





.specials{

    width: 100%;
    height: 70vh;

display: flex;
flex-direction: column;
padding-inline: 90px;
gap: 50px;
padding-top: 20px;
.speciales-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   gap: 15px;
button{
    padding: 5px;
width: 100px;
height: 30px;
text-align: center;
        background-color: rgba(255, 166, 0, 0.616);
        border-radius: 20px;
        color: orange;
        font-weight: bold;
         display: flex;
        align-items: center;
        justify-content: center;
}
h3{
    span{
        color:$orange;
    }
}
}
.speciales-inscreptions{

display: flex;
.liste{
  width: 20%;
 
}
p:hover{
    color: $orange;
}
.description{

width: 70%;
display: flex;
}



}



}